<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ts-react-component-patterns-demo</title>
</head>
<body>
<div id="root"></div>

<script type="text/javascript" src="/dist/demo.js"></script>
</body>
</html>